/*
Malcolm Abdullah
February 18th, 2024
styles.css
*/

/*CSS Reset*/
body, header, nav, main, footer, img, h1, h2, h3, ul, p, div, figure, figcaption, section, article, aside, hr{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and image*/
body {
    background-color: #ffff00;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* Style Rules for mobile viewport*/
.mobile h1 {
    font-family: 'sans-serif', system-ui;}

.mobile h2 {
    font-family: 'Times New Roman', Times, serif;}

/* Style Rules to show mobile class and hide tab-desk class*/
.mobile {
    display: block;
}

.tab-desk {
    display: none;}

/* Style rules for header area */
header {
    background-color: #ffc0cb;
    padding: 0%;
}

header h1 {
    padding: 2%;
    text-align: center;
}

/* Style rules for navigation area*/
nav {
    background-color: #000;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display:block;
    padding: 2%;
    color: #ffc0cb;
    font-size: 2em;
    font-family: sans-serif, Times;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #ffc0cb;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}

/* Style rules for the main area*/
main {
    padding: 2%;
    font-family: sans-serif, serif, 'Times New Roman';
    border: 2px solid #000;
}

hr{
    color: #000;
}
/*Style Rules for all "Main Text"*/

main h2{
    text-align: center;
    padding: 1%;
    font-family: 'sans-serif', 'serif';
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

main h3{
    text-align: center;
    padding: 0%;
    font-family: 'sans-serif', 'Times New Roman';
    font-size: 30px;
}
.italic {
    font-style: italic;
    font-size: 25px;
    text-align: center;
    padding: 2%;
}

main p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}

article{
    display: block;
    padding: 2%;
    border: 1px solid #000;
    background: linear-gradient(#228b22, #ffc0cb);
}

article ul{
    margin: auto;
}

#Main-content{
    border: 5px solid #000;
}   

#RIP-text{
    text-align: center;
}

/* Style rule for main images*/
#RIP-Img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#Main-Img {
    display: block;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.sunflower {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5%;
    max-width: 20%;
    justify-content: center;
    align-items: center;
    } 

figure{
    display: block;
    max-width: 50%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
}

figcaption{
    padding: 2%;
    border-top: 4px solid #ffc0cb;
    text-align: center;
}

/* Style Rules for footer*/
footer {
    text-align: center;
    font-size: 12px;
    background-color: #000;
    color: #ffff00;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 0%;
    padding-left: 0%;
}

footer p{
    font-size: 0.75em;
    text-align: center;
    color: #ffff00;
    padding: 0 1em;
}

footer p a {
    color: #ffc0cb;
    text-decoration: none;
}

/* Tablet Viewport: Style rules for nav area */

nav li {
    border-top: none;
    display: inline-block;
    font-size: 30px;
}

nav li a {
    padding: 0.5em;
} 

/* Media Query for Tablet Viewport */
@media  screen and (min-width: 620px), print {

    /* Tablet Viewport: Show tab-desk class, hide mobile class*/

    .tab-desk {
        display: block;
    }

    .mobile {
        display: none;
    }

    /* Tablet Viewport: Style rules for nav area */

    nav li {
        border-top: none;
        display: inline-block;
        font-size: 30px;
    }

    nav li a {
        padding: 0.5em;
    }

    .grid{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 5px
    }
}

/* Media Query for Desktop Viewport*/
@media  screen and (min-width: 1000px), print {

    /*Desktop Viewport: Style rules for body*/
    body {
    background: linear-gradient(#ffc0cb, #ffff00);
    }

    /*Desktop Viewport: Style rules for nav area*/

    nav li {
    font-size: 1.5em;
    }

    nav li a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;

    }

    nav li a:hover {
    color: #2a1f14;
    background-color: #f6eee4;
    }

    /* Desktop Viewport: Style rules for main content*/
    .grid {
    grid-template-columns: auto auto;
    grid-gap: 15px;
    }
}
/* Media Query for Large Desktop Viewport*/
@media screen and (min-width: 1921px){

    /* Large Desktop Viewport: Style rules for main text */

    main {
    background-color: #ffff00
    }

    .main-text {
    position:static;
    width: 1920px;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }

    footer {
    position: static;
    }

    #hero {
    position:static ;
    }
    /* Media Query for Print*/
    @media print {  body{
    background-color: #ffffff;
    color: #000;}
    }
}